body {
    text-align: center;
    font-family: Arial, sans-serif;
}
.productForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.editForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


input, button, select {
    padding: 8px;
    width: 200px;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

img {
    width: 100px;
    height: 100px;
}
button{
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    width: 60px;
}
.Add-product{
    width: 200px;
}
